contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
et-xmlfile==1.1.0
fonttools==4.39.0
ipython-genutils==0.2.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
openpyxl==3.1.2
pandas==1.5.3
patsy==0.5.3
Pillow==9.4.0
pmdarima==2.0.3
pyparsing==3.0.9
pytz==2022.7.1
scikit-learn==1.2.2
scipy==1.10.1
statsmodels==0.13.5
threadpoolctl==3.1.0
urllib3==1.26.15
webencodings==0.5.1

